<div class="container">
  <form class="row mt-3 gx-3 gy2 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label for="specificSizeInputName" class="visually-hidden">Wish</label>
      <input
        type="text"
        name="wishText"
        class="form-control"
        id="specificSizeInputName"
        placeholder="Add a Wish"
        [(ngModel)]="newWishtext"
      />
    </div>
    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="$event.preventDefault(); addNewWish()"
      >
        Add Wish
      </button>
    </div>
  </form>

  <div class="row mt-3">
    <div class="col-sm-3">
      <select
        name="filter"
        id=""
        class="form-control"
        [(ngModel)]="listFilter"
        (ngModelChange)="filterChanged($event)"
      >
        <option value="0">All</option>
        <option value="1">Completed</option>
        <option value="2">Uncompleted</option>
      </select>
    </div>
  </div>

  <div class="row mt-3">
    <ng-template #showItems>
      <h1>
        {{ title }}
      </h1>
      <ul class="wish-list">
        <li *ngFor="let item of visibleItem">
          <div class="form-check">
            <label for="checkbox" class="form-check-label">
              <input
                type="checkbox"
                class="checkbox"
                name=""
                id=""
                [checked]="item.isComplete"
                (change)="toggleItem(item)"
              />
            </label>
            {{ item.wishText }}
          </div>
        </li>
      </ul>
    </ng-template>
  </div>

  <div *ngIf="visibleItem.length === 0; else showItems">
    There are no wished to display
  </div>
</div>
